"FONT"; "Font horror"; "assets/Font/Horror_font.ttf";
"TEXTURE"; "button_audio"; "assets/buttons/Audio 192x48.png";
"TEXTURE"; "buttons_blank"; "assets/buttons/Blank 192x48.png";
"TEXTURE"; "buttons_campaign"; "assets/buttons/Campaign 192x48.png";
"TEXTURE"; "buttons_config"; "assets/buttons/Config 192x48.png";
"TEXTURE"; "buttons_configuration"; "assets/buttons/Configuration 192x48.png";
"TEXTURE"; "buttons_continue"; "assets/buttons/Continue 192x48.png";
"TEXTURE"; "buttons_continue_game"; "assets/buttons/Continue Game 192x48.png";
"TEXTURE"; "buttons_controls"; "assets/buttons/Controls 192x48.png";
"TEXTURE"; "buttons_credits"; "assets/buttons/Credits 192x48.png";
"TEXTURE"; "buttons_equip"; "assets/buttons/Equip 192x48.png";
"TEXTURE"; "buttons_equipment"; "assets/buttons/Equipment 192x48.png";
"TEXTURE"; "buttons_exit"; "assets/buttons/Exit 192x48.png";
"TEXTURE"; "buttons_exit_game"; "assets/buttons/Exit Game 192x48.png";
"TEXTURE"; "buttons_formation"; "assets/buttons/Formation 192x48.png";
"TEXTURE"; "buttons_graphics"; "assets/buttons/Graphics 192x48.png";
"TEXTURE"; "buttons_high"; "assets/buttons/High Scores 192x48.png";
"TEXTURE"; "buttons_inventory"; "assets/buttons/Inventory 192x48.png";
"TEXTURE"; "buttons_items"; "assets/buttons/Items 192x48.png";
"TEXTURE"; "buttons_leaderboards"; "assets/buttons/Leaderboards 192x48.png";
"TEXTURE"; "buttons_load"; "assets/buttons/Load 192x48.png";
"TEXTURE"; "buttons_load_game"; "assets/buttons/Load Game 192x48.png";
"TEXTURE"; "buttons_main"; "assets/buttons/Main Menu 192x48.png";
"TEXTURE"; "buttons_multiplayer"; "assets/buttons/Multiplayer 192x48.png";
"TEXTURE"; "buttons_new"; "assets/buttons/New 192x48.png";
"TEXTURE"; "buttons_new_game"; "assets/buttons/New Game 192x48.png";
"TEXTURE"; "buttons_options"; "assets/buttons/Options 192x48.png";
"TEXTURE"; "buttons_order"; "assets/buttons/Order 192x48.png";
"TEXTURE"; "buttons_party"; "assets/buttons/Party 192x48.png";
"TEXTURE"; "buttons_quit"; "assets/buttons/Quit 192x48.png";
"TEXTURE"; "buttons_quit_game"; "assets/buttons/Quit Game 192x48.png";
"TEXTURE"; "buttons_restart"; "assets/buttons/Restart 192x48.png";
"TEXTURE"; "buttons_restart_game"; "assets/buttons/Restart Game 192x48.png";
"TEXTURE"; "buttons_save"; "assets/buttons/Save 192x48.png";
"TEXTURE"; "buttons_save_game"; "assets/buttons/Save Game 192x48.png";
"TEXTURE"; "buttons_settings"; "assets/buttons/Settings 192x48.png";
"TEXTURE"; "buttons_single"; "assets/buttons/Single Player 192x48.png";
"TEXTURE"; "buttons_start"; "assets/buttons/Start 192x48.png";
"TEXTURE"; "buttons_start_game"; "assets/buttons/Start Game 192x48.png";
"TEXTURE"; "buttons_status"; "assets/buttons/Status 192x48.png";
"TEXTURE"; "buttons_story"; "assets/buttons/Story Mode 192x48.png";
"TEXTURE"; "buttons_video"; "assets/buttons/Video 192x48.png";
"TEXTURE"; "background_menu_pause"; "assets/background/background_menu_pause.jpg";
"TEXTURE"; "background_menu"; "assets/background/background_menu.png";
